<!DOCTYPE html>
<html>
<head>
  <title>Home page</title>
</head>
<body>
  <h1>NodeJs authentication Project</h1>
  <% if (username) { %>
    <p>Logged in as <%= username %></p>
    <a href="/dashboard">Go to Dashboard</a>
    <a href="/logout">Log Out</a>
  <% } else { %>
    <a href="/login">Log In</a>
    <a href="/register">Register</a>
  <% } %>
</body>
</html>
